.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.align_start   { align-items: start; }
.align_center  { align-items: center; }
.align_end     { align-items: end; }
.align_stretch { align-items: stretch; }
